{% extends 'base.html' %}

{% block title%}
Add Courses
{% endblock %}

{% block content %}
<h1>Add Course</h1>

<form action ="#" method = "POST">
    <p> SLN: </p>
    <p><input type="number" name = "sln" /></p>
    <p> Name: </p>
    <p><input type="text" name = "nm" /></p>
    <p> Section: </p>
    <p><input type="text" name = "section" /></p>
    <p> Room Number: </p>
    <p><input type="number" name = "roomid" /></p>
    <p> CourseCredits: </p>
    <p><input type="number" name = "creds" /></p>
    <p> Type: </p>
    <p><input type="text" name = "type" /></p>
    <p> Instructor Name: </p>
    <p><input type="text" name = "ins" /></p>
    <p> Time: </p>
    <p><input type="time" name = "time" /></p>
    <p> Quarter (F, W, S, SU): </p>
    <p><input type="text" name = "quarter" /></p>
    <p> Year: </p>
    <p><input type="number" name = "yr" /></p>

    <p><input type="submit" name = "submit" /></p>
</form>

{% endblock %}

