{% extends "base.html" %}

{% block content %}
    <h1 style="text-align:center;">Add/Remove Students </h1>


    <div class="container">
        <div class="d-flex justify-content-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <style>

        #column_container {
            width: 470px;
            margin: 0 auto;
        }

        .container {
            padding: 15px;
            max-width: 500px;
            margin: auto;
        }

        #cn {
            padding: 10px;
            max-width: 300px;
        }
    </style>

    <div class="container">

    </div class="row">
    <div id="column_container"
         style="display: flex; margin-left: 22%; margin-top: 1%">
        <div class="col-left" style="float: left; margin-right: 0%;">
            <form action="#" method="POST" class="form-inline">
                <div class="btn-group-vertical">
                    <p><input type="number" class="form-control"
                              placeholder="Student ID" maxlength="100"
                              name=studentID required></p>
                    <p><input type="text" class="form-control"
                              placeholder="First name" maxlength="100"
                              name=first required
                              pattern="^(?!^ +$)([a-zA-Z]+)"></p>
                    <p><input type="text" class="form-control"
                              placeholder="Last name" maxlength="100" name=last
                              required pattern="^(?!^ +$)([a-zA-Z]+)"></p>
                    <p><input type="text" class="form-control"
                              placeholder="Gender" maxlength="1" name=gender>
                    </p>
                    <p><input type="text" class="form-control"
                              placeholder="SuperPowers" maxlength="100"
                              name=super required
                              pattern="^(?!^ +$)([a-zA-Z]+)"></p>
                    <p><input type="text" class="form-control"
                              placeholder="Alias" maxlength="100" name=alias
                              pattern="^(?!^ +$)([a-zA-Z]+)"></p>
                    <p><input type="text" class="form-control" placeholder="DOB"
                              maxlength="10" name=dob
                              pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"
                              required></p>
                    <p><input type="submit" id="cn" class="btn btn-dark"
                              name="add" value="Add" style="margin-left: 75px;">
                    </p>
                </div>
            </form>
        </div>
        <!-- margin-right: 45%; margin-top: 0% margin-right: 10%-->
        <div class="col-mid"
             style="float: right; margin-left: 5%; margin-right: 5%;">
            <form action="#" method="POST" class="form-inline">
                <div class="btn-group-vertical">
                    <p><input type="number" class="form-control"
                              placeholder="StudentID" maxlength="100"
                              name=studID required></p>
                    <p><input type="submit" class="btn btn-dark" name="remove"
                              value="Remove" style="margin-left: 75px;"></p>
                </div>
            </form>
        </div>

        <div class="col-right" style="float: right; margin-right: 10%;">
            <form action="#" method="POST" class="form-inline">
                <div class="btn-group-vertical">
                    <p><input type="number" class="form-control"
                              placeholder="StudentID" maxlength="100"
                              name=studentID required></p>
                    <p><input type="text" class="form-control"
                              placeholder="First name" maxlength="100"
                              name=first></p>
                    <p><input type="text" class="form-control"
                              placeholder="Last name" maxlength="100" name=last>
                    </p>
                    <p><input type="text" class="form-control"
                              placeholder="Gender" maxlength="1" name=gender>
                    </p>
                    <p><input type="text" class="form-control"
                              placeholder="SuperPowers" maxlength="100"
                              name=super></p>
                    <p><input type="text" class="form-control"
                              placeholder="Alias" maxlength="100" name=alias>
                    </p>
                    <p><input type="number" class="form-control"
                              placeholder="DOB" maxlength="10" name=dob
                              pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d">
                    </p>
                    <p><input type="text" class="form-control"
                              placeholder="Enrolled" maxlength="100"
                              name=enrollment></p>
                    <p><input type="submit" class="btn btn-dark" name="update"
                              value="Update" style="margin-left: 75px;"></p>
                </div>
            </form>
        </div>
    </div>


{% endblock %}