{% extends "Base.html" %}
{% block content %}

<h1 style = "font-size:2em; text-align: center;">Classes</h1>

<style>
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
   border-spacing: 15px;
}
#tb {
    padding: 30px;
    margin: auto;
}

</style>
</head>
<body>

<div id="tb" style="text-align: center;">
   <table style="width:60%" align="center">
      <th>SLN</th><th>Class</th><th>Section</th><th>RoomID</th><th>Instructor</th><th>Time</th><th>Quarter</th><th>Year</th><th>Capacity</th></tr>
      {% for thing in things %}
      </td>
          <td>{{thing[2]}}</td><td>{{thing[10]}}</td><td>{{thing[3]}}</td><td>{{thing[4]}}</td><td>{{thing[5]}}</td><td>{{thing[6]}}</td><td>{{thing[7]}}</td><td>{{thing[8]}}</td><td>{{thing[9]}}/{{thing[10]}}</td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>