{% extends "base.html" %}
{% block content %}

<!-- <form action="#" method="post">
   <p> Course Type: </p>
   <p> <input type="text" name="courseType" /></p>
   <p><input type="submit" value="submit" /></p>
   
</form> -->

<form action="#" method="post">
   <p> SLN: </p>
   <p> <input type="text" name="SLN" /></p>
   <p> Name: </p>
   <p> <input type="text" name="Name" /></p>
   <p> Course Type: </p>
   <p> <input type="text" name="courseType" /></p>
   <p><input type="submit" value="submit" /></p>
</form>

<!-- <form action="#" style="width: 500px; margin: auto" method="post">
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">SLN</span>
      <input type="text" name="courseType" class="form-control" placeholder="10000" aria-describedby="basic-addon1">
   </div>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Name</span>
      <input type="text" name="Name" class="form-control" placeholder="Math I" aria-describedby="basic-addon1">
   </div>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Course Credit</span>
      <input type="text" name="courseCredit" class="form-control" placeholder="5" aria-describedby="basic-addon1">
   </div>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Credit Type</span>
      <input type="text" name="courseType" class="form-control" placeholder="C" aria-describedby="basic-addon1">
   </div>
   <div class="col-12">
      <button type="submit" value="submit" class="btn btn-primary">submit</button>
   </div>
</form> -->

<h1>Course Catalog</h1>
<p>For 5/29/2021</p>
<p>{{stored_time}}</p>
<table>
   <tr><th>SLN</th><th>Name</th><th>Course Credits</th><th>Type</th></tr>
   {% for thing in things %}
   <tr><td>{{thing[0]}}</td> <td>{{thing[1]}}</td> <td>{{thing[2]}}</td> <td>{{thing[3]}}</td></tr>
   {% endfor %}
</table>
{% endblock %}