{% extends 'Base.html' %}
{% include 'Header.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">

                    <h2><b>Manage Students</b>
                        <button type="button"
                                class="btn btn-success float-right"
                                data-toggle="modal"
                                data-target="#studentmodal">
                            Add New Student
                        </button>
                    </h2>

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Alias</th>
                            <th>Gender</th>
                            <th>Super Power</th>
                            <th>DOB</th>
                            <th>Enrolled</th>
                            <th>Action</th>
                        </tr>

                        <tr>
                            <td>01</td>
                            <td>William</td>
                            <td>Simcox</td>
                            <td>Sentinal</td>
                            <td>M</td>
                            <td>Technology Manipulation</td>
                            <td>03-03-2000</td>
                            <td>True</td>

                            <td>
                                <a href="" class="btn btn-warning btn-xs"
                                   data-toggle="modal"
                                   data-target="#studentmodaledit">Edit</a>
                                <a href="" class="btn btn-danger btn-xs"
                                   onclick="return confirm('Are you sure you want to delete? This action cannot be undone.')">Delete</a>
                            </td>
                        </tr>

                        <!-- Modal Edit Student -->
                        <div id="studentmodaledit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" align="center">
                                            Update Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST">
                                            <div class="form-group">

                                                <div class="form-group">

                                                    <!-- TODO --->
                                                    <label>First Name:</label>
                                                    <input type="hidden"
                                                           name="name"
                                                           value="name">

                                                    <input type="text"
                                                           class="form-control"
                                                           name="firstName"
                                                           value="William">

                                                </div>

                                                <div class="form-group">

                                                    <label>Last Name:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="lastName"
                                                           required="1"
                                                           maxlength="20">

                                                </div>

                                                <div class="form-group">

                                                    <label>Alias:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="alias"
                                                           required="1"
                                                           maxlength="20">

                                                </div>

                                                <div class="SuperPower">

                                                    <label>Super Power:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="superPower"
                                                           required="1"
                                                           maxlength="25">

                                                </div>

                                                <div class="DOB">

                                                    <label>DOB:</label>
                                                    <input type="date"
                                                           class="form-control"
                                                           name="dob"
                                                           required="1">

                                                </div>

                                                <div class="Enrolled">

                                                    <input type="checkbox"
                                                           id="isenrolled"
                                                           name="enrolled"
                                                           value="1">
                                                    <label for="isenrolled">Enrolled</label><br>

                                                </div>

                                                <div class="form-group">

                                                    <input type="radio"
                                                           id="male"
                                                           name="gender"
                                                           value="male">
                                                    <label for="male">Male</label><br>
                                                    <input type="radio"
                                                           id="female"
                                                           name="gender"
                                                           value="female">
                                                    <label for="female">Female</label><br>

                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-primary" type="submit">Update</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </table>

                </div>

                <!-- Modal Add Student -->
                <div id="studentmodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <h4 class="modal-title">Add Student</h4>

                        </div>
                        <div class="modal-body">

                            <form action="" method="POST">

                                <div class="form-group">

                                    <label>First Name:</label>
                                    <input type="text" class="form-control"
                                           name="firstName" required="1">

                                </div>

                                <div class="form-group">

                                    <label>Last Name:</label>
                                    <input type="text" class="form-control"
                                           name="lastName" required="1"
                                           maxlength="20">

                                </div>

                                <div class="form-group">

                                    <label>Alias:</label>
                                    <input type="text" class="form-control"
                                           name="alias" required="1"
                                           maxlength="20">

                                </div>

                                <div class="SuperPower">

                                    <label>Super Power:</label>
                                    <input type="text" class="form-control"
                                           name="superPower" required="1"
                                           maxlength="25">

                                </div>

                                <div class="DOB">

                                    <label>DOB:</label>
                                    <input type="date" class="form-control"
                                           name="dob" required="1">

                                </div>

                                <div class="Enrolled">

                                    <input type="checkbox" id="isenrolled"
                                           name="enrolled" value="1">
                                    <label for="isenrolled">Enrolled</label><br>

                                </div>

                                <div class="form-group">

                                    <input type="radio" id="male" name="gender"
                                           value="male">
                                    <label for="male">Male</label><br>
                                    <input type="radio" id="female"
                                           name="gender" value="female">
                                    <label for="female">Female</label><br>

                                </div>

                                <div class="form-group">

                                    <button class="btn btn-primary"
                                            type="submit">Add Student
                                    </button>

                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}