{% extends "base.html" %}
{% block title %} Home Page{% endblock %}
{% block content %}
<style>
   .jumbotron{
      color: black;
   }
   .container-fluid {
  padding: 35px 50px;
}
</style>
<body>
   <div class="jumbotron text-center">
      <h1> WELCOME TO XAVIER'S SCHOOL FOR THE GIFTED OFFICIAL RECORDS </h1>
   </div>

   <div class="container-fluid bg-red" style="text-align: center;">
      
        <div class="col-sm-15" style="text-align: center;">
          <h2>Our Values</h2>
          <h4><strong>MISSION:</strong> Train the worlds most adaptable superheros..</h4>
          <p><strong>VISION:</strong> Our vision is to be elite...</p>
          
        </div>
      
    </div>

   <div class="container-fluid text-center">
      <h2>Our Achievements</h2>
      <h4>---</h4>
      <br>
      <div class="row">
        <div class="col-sm-4">

          <h4>Hariot Sugma Award</h4>
          <p>Awarded for most excellent student growth.</p>
        </div>
        <div class="col-sm-4">

          <h4>Student Recognition Award</h4>
          <p>Awarded for having nation wide student excellency.</p>
        </div>
        <div class="col-sm-4">

          <h4>Grammy Award</h4>
          <p>Awarded for hottest national tracks of the Music and Arts Program.</p>
        </div>
        </div>
        <br><br>
      <div class="row">
        <div class="col-sm-4">

          <h4>Dee'ze Knuts Grant</h4>
          <p>Awarded to a the best select 5 universities annually.</p>
        </div>
        <div class="col-sm-4">

          <h4>Sophia Freund Prize</h4>
          <p>Awarded annually to the highest-ranking senior average per University.</p>
        </div>
        <div class="col-sm-4">

          <h4>Nobel Prize</h4>
          <p>Awarded for curing cancer.</p>
        </div>
      </div>
    </div>
   

    <footer class="container-fluid text-center">
      <p>Website Made By Us</p>
    </footer>

{% endblock %}