{% extends "base.html" %} 
{% block title%} Students Page {% endblock %}

	{% block content %}
   <h1>students</h1>
   <p>For 5/29/2021</p>
   <table>
      <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Alias</th><th>Gender</th><th>Super Power</th><th>Date of Birth</th><th>Enrolled</th></tr>
      {% for thing in things %}
      <tr><td>{{thing[1]}}</td> <td>{{thing[2]}}</td> <td>{{thing[3]}}</td> <td>{{thing[4]}}</td> <td>{{thing[5]}}</td> <td>{{thing[6]}}</td> <td>{{thing[7]}}</td> <td>{{thing[8]}}</td></tr>
      {% endfor %}
   </table>
	{% endblock %}

	</body>
</html>	