{% extends 'base.html' %}

{% block title%}
Update Courses
{% endblock %}

{% block content %}
<h1>Update Class</h1>

<form action ="#" method = "POST">

    <h4>Target:</h4>

    <p><input type="number" name = "sln" placeholder="SLN" maxlength="5"/></p>

    <h4>Edit:</h4>

    <p><input type="text" name = "CourseName" placeholder="Class Name" maxlength="20"/></p>
    <p><input type="text" name = "Section" placeholder="Section" maxlength="1"/></p>
    <p><input type="number" name = "RoomID" placeholder="Room ID"/></p>
    <p><input type="text" name = "InstructorName" placeholder="Instructor" maxlength="20"/></p>
    <p><input type="time" name = "Time" placeholder="Time"/></p>
    <p><input type="text" name = "Quarter" placeholder="Quarter"/></p>
    <p><input type="text" name = "Year" placeholder="Year"/></p>

    <p><input type="submit" name = "submit" /></p>

</form>

{% endblock %}