{% extends 'base.html' %}

{% block title %}
    Update Classes
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="text-align:center;"> {{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <style>

        #column_container {
            width: 440px;
            margin: 0 auto;
        }

        .container {
            padding: 15px;
            max-width: 500px;
            margin: auto;
        }
    </style>

    <h1 style="text-align:center;">Update Class</h1>
    <div class="container">
        <form action="#" method="POST">

            <h4>Target:</h4>

            <p><input type="number" class="form-control" name="sln" required
                      placeholder="SLN" maxlength="5"/></p>

            <h4>Edit:</h4>

            <p><input type="text" name="name" class="form-control" size="15"
                      placeholder="Class Name" pattern="^(?!^ +$)([a-zA-Z]+)$*"
                      maxlength="20"/></p>

            <p><input type="text" name="section" class="form-control" size="15"
                      placeholder="Section" pattern="[A-Z]" maxlength="1"/></p>

            <p><input type="number" name="roomID" class="form-control" size="15"
                      placeholder="Room ID" min="0" step="1" maxlength="1"/></p>

            <p><input type="text" name="instructorName" class="form-control"
                      size="15" placeholder="Instructor Name"
                      pattern="^(?!^ +$)([a-zA-Z]+)$**" maxlength="20"/></p>

            <p><input type="time" name="time" class="form-control" size="15"
                      placeholder="Time"/></p>

            <p><input type="text" name="quarter" class="form-control" size="15"
                      placeholder="Quarter (F, W, S, SU)"
                      pattern="^(?!^ +$)([A-Z]+)$*" maxlength="2"/></p>

            <p><input type="number" name="year" class="form-control" size="15"
                      placeholder="Year" min="0" step="1" minLength="4"
                      maxlength="4"/></p>

            <p><input type="submit" class="btn btn-dark" name="submit"/></p>

        </form>
    </div>

{% endblock %}