{% extends "base.html" %}
{% block title %} student Page{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1> Student Notes </h1>
<style type="text/css">
    th
    {
        padding:0 20px 0 20px;
    }
    td
    {
        padding:0 20px 0 20px;
    }
    </style>

<form action="#" method="post">
    <p> Student ID: </p>
    <p> <input type="text" name="theirID" /></p>
      
    <p> View Behavior Note: </p>  
    <p><input type="submit" name="viewNotes" value="ViewNotes" /></p> 
</form>

<form action="{{ url_for('modifyStudentNotes') }}" method="post">
    <p><input type="submit" name="modifyNotes" value="Modify Notes" /></p>
</form>
    <!-- to add note we need student ID to delete note we need note id and student ID -->
   



 <table>
    <tr><th>Student ID </th>  <th>  Notes ID </th> <th> First Name</th> <th> Last Name</th> <th> Note</th> <th> Date </th> <th>  Note Type </th> </tr>
    {% for thing in things %}
    <tr><td>{{thing[0]}}</td> <td>{{thing[1]}}</td> <td>{{thing[2]}}</td><td>{{thing[3]}}</td><td>{{thing[4]}}</td> <td>{{thing[5]}}</td> <td>{{thing[6]}}</td> </tr>
    {% endfor %}
 </table>

{% endblock %}